In [3]:
import numpy as np
import pandas as pd

data=pd.read_csv("hospital.csv",encoding='CP949')
data.head()

,번호,개방서비스명,개방서비스아이디,개방자치단체코드,관리번호,인허가일자,인허가취소일자,영업상태구분코드,영업상태명,상세영업상태코드,...,지정취소일자,완화의료지정형태,완화의료담당부서명,구급차특수,구급차일반,총인원,구조사수,허가병상수,최초지정일자,Unnamed: 44
0,1,병원,01_01_01_P,5340000,PHMA220125340030021200003,20121130,NaN,1,영업/정상,13,...,NaN,NaN,NaN,0.0,0.0,NaN,NaN,0.0,NaN,NaN
1,2,병원,01_01_01_P,5340000,PHMA220135340030021200001,20131111,NaN,1,영업/정상,13,...,NaN,NaN,NaN,0.0,0.0,NaN,NaN,0.0,NaN,NaN
2,3,병원,01_01_01_P,5340000,PHMA220165340030021200001,20160128,NaN,1,영업/정상,13,...,NaN,NaN,NaN,0.0,0.0,NaN,NaN,0.0,NaN,NaN
3,4,병원,01_01_01_P,5380000,PHMA219895380021021200001,19890331,NaN,1,영업/정상,13,...,NaN,NaN,NaN,0.0,0.0,NaN,NaN,0.0,NaN,NaN
4,5,병원,01_01_01_P,5410000,PHMA220185410012021200001,20180316,NaN,1,영업/정상,13,...,NaN,NaN,NaN,0.0,0.0,NaN,NaN,0.0,NaN,NaN